/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: roboto;
  src: url("./assets/fonts/roboto.ttf");
}

@font-face {
  font-family: roboto;
  src: url("./assets/fonts/robotobold.ttf");
  font-weight: bold;
}

body {
  font-family: Roboto, sans-serif;
}
